---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { menus } from '../constants';
import { getMenuPath } from '../utils/common';
---

<Layout>
  <main>
    <section>
      {
        menus.map(subMenu => {
          return (
            <article>
              <h1 class='text-3xl mb-6'>{subMenu.title}</h1>
              <ul
                role='list'
                class='link-card-grid'
              >
                {subMenu.children.map(menuItem => {
                  return (
                    <Card
                      href={getMenuPath(menus, menuItem)}
                      title={menuItem.title}
                      body={menuItem.description}
                    />
                  );
                })}
              </ul>
            </article>
          );
        })
      }
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
