<style>
  .gradient-text {
    font-size: 40px;
  }
  .gradient-text .mark {
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<section>
  <h1 class='gradient-text'>
    Hi, I'm
    <span class='mark'> <font>Fog3211</font></span>, A front-end developer.
  </h1>
</section>
