<section>
  <h1 class="text-4xl">
    Hi, I'm
    <span class='bg-gradient-to-r from-teal-400 via-blue-500 to-purple-500 text-transparent bg-clip-text'> <font>Fog3211</font></span>, A front-end
    developer.
  </h1>
</section>
