<style>
  body,
  html {
    height: 100%;
    background: linear-gradient(0deg, blue, green 40%, red);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    font-size: 150px;
    font-family: sans-serif;
    color: transparent;
    -webkit-text-stroke: #fff 1px;
  }
</style>

<div class='text'>-webkit-text-stroke</div>
