---
import FireWorkVideo from '../../assets/videos/firework.mp4';
---

<style>
  html,
  body {
    height: 100%;
  }
  .video-bg-text {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .video-bg-text .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-bg-text .text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 150px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    mix-blend-mode: screen;
  }
</style>

<div class='video-bg-text'>
  <video
    class='video'
    autoplay
    muted
    loop
    src={FireWorkVideo}
  ></video>
  <p class='text'>mix-blend-mode: screen;</p>
</div>
